/* --- FOOTER --- */

footer {
    border: 3px solid black;
    width: $size-main;
    height: 20vh;
    margin: auto;
    background-color: $primary-color;
    margin-top: $size-second;
    margin-bottom: $size-second;
}