
.all {
    width: $size-main;
    margin: auto;
}

.grid-1 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: $size-second;
    grid-gap: $size-third;

    div {
        background-color: $primary-color;
        border: 3px solid black;
        height: 30vh;
    }
}

* {
    box-sizing: border-box;
}

.col-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.col-3 {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.col-4 {
    grid-column-start: 2;
    grid-column-end: 5;
}

.col-5 {
    grid-column-start: 1;
    grid-column-end: 5;
}

