@import url('https://fonts.googleapis.com/css?family=Lobster|Luckiest+Guy');

/* - - - - VARIABLES - - - - */

/* COLORS */
$primary-color: #FFFFFF;
$secondary-color: #4A2621;
$tertiary-color:#CE9A3A;
$quaternary-color: #000000;
$quinary-color: #FFFFFF;
$transparent: rgba(255, 255, 255, 0.8);

/* FONTS */

/* Font family */
$font-main: 'Lobster', cursive;
$font-second: 'Luckiest Guy', cursive;
$font-third: 'Didact Gothic', sans-serif;

/* Sizes */
$size-main: 60%;
$size-main-2: 4.5em;
$size-second: 3em;
$size-third: 1.5em;

/* Shadow */
$shadow: 2px 2px $quaternary-color;